$colors: (
  primary: (
    100: hsl(0, 0%, 100%),
    300: hsl(129, 57%, 85%),
    700: hsl(130, 14%, 25%),
    900: hsl(0, 0%, 0%),
    ),
    accent: (
      300: hsl(105, 24%, 70%),
  ),
);

$breakpoints: (
  small: 40em,
  medium: 65em,
);

$padding-sizes: (
  1: 0.5rem,
  2: 1rem,
  4: 2rem,
  8: 4rem,
  16: 8rem,
);

$padding-modes: (
  inline,
  inline-start,
  inline-end,
  block,
  block-start,
  block-end
);

$margin-sizes: (
  1: 0.5rem,
  2: 1rem,
  4: 2rem,
  8: 4rem,
  16: 8rem,
);

$gap-sizes: (
  1: 0.5rem,
  2: 1rem,
  4: 2rem,
  8: 4rem,
  16: 8rem,
);

$margin-modes: (
  inline,
  inline-start,
  inline-end,
  block,
  block-start,
  block-end
);

$grid-sizes: (
  2: 2,
  3: 3,
  6: 6,
  9: 9,
  12: 12,
);
