{% extends "base.html.twig" %}


{% block main %}
	<main>
		{% include "header.html" %}
		<div class="category-container grid-col-3 margin-inline-4 margin-block-8 gap-4">
			{% for category in categories %}
				{% include "card.html.twig" %}

			{% endfor %}
		</div>
		<section class="order-pizza">
			<article class="order-text">
				<h2>Order Your Pizza Now!</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, praesentium!</p>
			</article>
{# 
			{% if is_granted('IS_AUTHENTICATED_FULLY')%}

			{% else %}
				<p>You need to login to place an order</p>
				<button class="btn">go to login</button>
			{% endif %} #}

		</section>
	</main>

{% endblock %}
