.btn{
    border: none;
    background-color: white;
    color: var(--clr-accent-300);
    border-radius: .3rem;
    padding: .5rem 2.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    position: relative;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .3rem;
        content: "";
        
        width: 0%;
        height: 100%;
    }
    
    &:hover{
        color: white;
        background-color: var(--clr-accent-300);
        transition: all 300ms ease;
    }
}