@use '../abstracts/mixins' as *;

.category-container{
    grid-template-columns: unset;
    @include mq(small){
        grid-template-columns: repeat(3, 1fr);
    }
}

.product-container{
    overflow-y: auto;
    grid-template-columns: unset;
    @include mq(small){
        grid-template-columns: repeat(3, 1fr);
    }
    @include mq(medium){
        
    }
}

.order-pizza{
    display: grid;
    margin-bottom: 5rem;
    gap: 1rem;
    background-color: var(--clr-primary-700);

}