@use '../abstracts/mixins' as *;


header{
    min-height: 7em;
    background-color: var(--clr-primary-700);
    color: white;
    text-align: center;

    .header-buttons{
        @include flex(row);
        gap: 5em;
    }
}