@use '../abstracts/mixins' as *;

.navbar {
  display: flex;
  gap: 2em;
  min-height: 4em;
  font-size: var(--fs-primary);
  align-items: center;
  background-color: hsl(0, 0%, 96%);

  .nav-link {
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-item {
  }
  @include mq(small){
    // flex-direction: column;
  };
}
