@use '../abstracts/mixins' as *;

.navbar {
  display: flex;
  gap: 2em;
  min-height: 4em;
  font-size: var(--fs-primary);
  align-items: center;
  background-color: var(--clr-primary-700);

  .nav-link {
    color: var(--clr-primary-100);
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-item {
  }
  @include mq(small){
    // flex-direction: column;
  };
}
