<section class="card">
	<img src="" alt="" class="card-img">

	<h2 class="card-title">{{category.name}}</h2>
	<p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, dolore?</p>
    <button class="btn" onclick="window.location = '{{path('app_category', {id:category.id}) }}'">naar: Pizza {{category.name}}</button>
</section>
