{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}
    <section class="orders">
        {% for order in orders %}
            <section class="card">
                {{order.id}}
            </section>
        {% endfor %}
    </section>
{% endblock %}
