{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!
{% endblock %}

{% block body %}
	<section class="orders">
		{% for order in orders %}
			<section class="card">
				<table>
					<thead>
						<tr>
							<th>pizza</th>
							<th>size</th>
							<th>category</th>
							<th>status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>{{order.pizza.name}}</th>
							<th>{{order.size.name}}</th>
							<th>{{order.pizza.category.name}}</th>
							<th>{{order.status}}</th>
						</tr>
					</tbody>
				</table>
			</section>
		{% endfor %}
	</section>
{% endblock %}
