{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!
{% endblock %}

{% block body %}
	<ul>
		{% for order in orders %}
			<div>{{order.id}}</div>
            <div>{{order.fname}}</div>
		{% endfor %}
	</ul>
{% endblock %}
