{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit" class="btn">Make order</button>
	{{form_end(form)}}
{% endblock %}
